/* Reset básico */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: black;
}

body, html {
  font-family: sans-serif;
    min-height: 100%;
  background-image: url("https://www.researchgate.net/publication/345316196/figure/fig2/AS:954354005725187@1604547134739/Google-Maps-Traffic-Layer-showing-live-traffic-in-the-Camden-Soho-Marylebone-Mayfair.ppm"); /* la imagen que tengas */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Contenedor principal con flex */
.container {
  display: flex;
  min-height: 100vh;
}


/* Contenido principal */
main {
  flex: 1; /* Ocupa el resto del espacio */
  padding: 20px;
  background-color: #fff;
}
